461DrawingProject
compile_commands.json
*.o
.cache/*
moc_*
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
_minted-documentation
*.pyc
Client/Makefile
.qmake.stash
build-461DrawingProject-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
build-461DrawingProject-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/461DrawingProject.exe
build-461DrawingProject-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-461DrawingProject-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
Client/461DrawingProject.pro.user
461DrawingProject.app
Makefile
